/* CSS Document */
.logo {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	
}


.main {
	background: linear-gradient(211deg, #e40dff, #06b4ff, #ff06c3, #065dff);
	background-size: 800% 800%;

	-webkit-animation: AnimationName 13s ease infinite;
	-moz-animation: AnimationName 13s ease infinite;
	animation: AnimationName 13s ease infinite;

	@-webkit-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes AnimationName { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
}

.logoTitle {
	text-align: center;
	color: white;
}

.buttonText {
	
	text-align: center;
}

.button {
	width: 30%;
	margin: 15px;
	height: 50px;
}


